.first-color {
  background: #070f4e;
}
.second-color {
  background: #2772db;
}
.third-color {
  background: #3ab1c8;
}
.fourth-color {
  background: #f5ebeb;
}
body {
  background-color: #3ab1c8;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f5ebeb;
  text-align: center;
}
a {
  text-decoration: none;
}
h1 {
  background-color: #070f4e;
  font-size: 60px;
  padding-bottom: 16px;
}
h4 {
  text-align: right;
  background-color: #070f4e;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
}
header a img {
  height: 101px;
  display: inline-block;
  float: left;
  margin-top: 40px;
}
.headerNav {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  background-color: #070f4e;
  border-radius: 5px;
  cursor: pointer;
}
.headerNav a {
  color: #f5ebeb;
  text-decoration: none;
}

.headerNav:hover {
  background-color: #3ab1c8;
}
.headerNav:hover a {
  color: #070f4e;
}
.cropped {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: 35% 60%;
  border-radius: 16px;
}
section {
  background-color: #2772db;
  padding: 20px;
  font-size: larger;
}
footer {
  background-color: #f5ebeb;
}
.footerNav {
  display: inline-block;
  margin: 0 10px;
}
.footerNav a {
  text-decoration: none;
  color: #070f4e;
}
.footerNav:hover a {
  text-decoration: underline;
  color: #2772db;
}
.socialmedia {
  margin: 20px 0;
}
